# Baselines retinologos

In [1]:
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import confusion_matrix
import pandas as pd

## OCT

In [2]:
df_oct = pd.read_excel('df_OCT.xlsx')

In [3]:
display(df_oct)

,Unnamed: 0,NHC,1 OCT 2 IPHONE 3 SAMSUNG,lateralidad 1 Dch 2 izq,Retinlogo 1 y 2,CALIDAD GRAL IMAGEN,GRADO RETINOPATÍA DIABÉTICA,"Clasificación EMD. 1 NO . 2 NO CENTRAL, 3 CENTRAL"
0,16,60716,1,1,2,5,3,1
1,17,60716,1,2,2,5,3,1
2,22,60716,1,1,1,5,3,1
3,23,60716,1,2,1,5,3,1
4,28,62612,1,1,2,5,1,3
...,...,...,...,...,...,...,...,...
225,917,38950,1,2,1,5,3,3
226,928,170692,1,1,2,5,1,1
227,929,170692,1,2,2,5,1,1
228,930,170692,1,1,1,5,1,1
229,931,170692,1,2,1,5,1,1

In [4]:
df_oct_filt = df_oct.drop(['Unnamed: 0', '1 OCT 2 IPHONE 3 SAMSUNG', 'CALIDAD GRAL IMAGEN', 'GRADO RETINOPATÍA DIABÉTICA'], axis=1)

In [5]:
display(df_oct_filt)

,NHC,lateralidad 1 Dch 2 izq,Retinlogo 1 y 2,"Clasificación EMD. 1 NO . 2 NO CENTRAL, 3 CENTRAL"
0,60716,1,2,1
1,60716,2,2,1
2,60716,1,1,1
3,60716,2,1,1
4,62612,1,2,3
...,...,...,...,...
225,38950,2,1,3
226,170692,1,2,1
227,170692,2,2,1
228,170692,1,1,1
229,170692,2,1,1

In [6]:
oct_emd_bin = []

for e in list(df_oct_filt['Clasificación EMD. 1 NO . 2 NO CENTRAL, 3 CENTRAL']):
    if e==1:
        oct_emd_bin.append(0)
    else:
        oct_emd_bin.append(1)

In [7]:
print(oct_emd_bin)

[0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0]

In [8]:
df_oct_filt['EMD binario'] = oct_emd_bin

In [9]:
display(df_oct_filt)

,NHC,lateralidad 1 Dch 2 izq,Retinlogo 1 y 2,"Clasificación EMD. 1 NO . 2 NO CENTRAL, 3 CENTRAL",EMD binario
0,60716,1,2,1,0
1,60716,2,2,1,0
2,60716,1,1,1,0
3,60716,2,1,1,0
4,62612,1,2,3,1
...,...,...,...,...,...
225,38950,2,1,3,1
226,170692,1,2,1,0
227,170692,2,2,1,0
228,170692,1,1,1,0
229,170692,2,1,1,0

## iPhone

In [10]:
df_iphone = pd.read_excel('df_iPhone.xlsx')

In [11]:
df_iphone_filt = df_iphone.drop(['Unnamed: 0', '1 OCT 2 IPHONE 3 SAMSUNG', 'CALIDAD GRAL IMAGEN', 'GRADO RETINOPATÍA DIABÉTICA'], axis=1)

In [12]:
iphone_emd_bin = []

for e in list(df_iphone_filt['Clasificación EMD. 1 NO . 2 NO CENTRAL, 3 CENTRAL']):
    if e==1:
        iphone_emd_bin.append(0)
    else:
        iphone_emd_bin.append(1)

In [13]:
df_iphone_filt['EMD binario'] = iphone_emd_bin

In [14]:
display(df_iphone_filt)

,NHC,lateralidad 1 Dch 2 izq,Retinlogo 1 y 2,"Clasificación EMD. 1 NO . 2 NO CENTRAL, 3 CENTRAL",EMD binario
0,60716,1,2,2,1
1,60716,2,2,1,0
2,60716,1,1,2,1
3,60716,2,1,1,0
4,62612,1,2,2,1
...,...,...,...,...,...
195,38950,2,1,2,1
196,170692,1,2,3,1
197,170692,2,2,3,1
198,170692,1,1,3,1
199,170692,2,1,3,1

## Samsung

In [15]:
df_samsung = pd.read_excel('df_Samsung.xlsx')

In [16]:
df_samsung_filt = df_samsung.drop(['Unnamed: 0', '1 OCT 2 IPHONE 3 SAMSUNG', 'CALIDAD GRAL IMAGEN', 'GRADO RETINOPATÍA DIABÉTICA'], axis=1)

In [17]:
samsung_emd_bin = []

for e in list(df_samsung_filt['Clasificación EMD. 1 NO . 2 NO CENTRAL, 3 CENTRAL']):
    if e==1:
        samsung_emd_bin.append(0)
    else:
        samsung_emd_bin.append(1)

In [18]:
df_samsung_filt['EMD binario'] = samsung_emd_bin

In [19]:
display(df_samsung_filt)

,NHC,lateralidad 1 Dch 2 izq,Retinlogo 1 y 2,"Clasificación EMD. 1 NO . 2 NO CENTRAL, 3 CENTRAL",EMD binario
0,60716,1,2,1,0
1,60716,2,2,1,0
2,60716,1,1,1,0
3,60716,2,1,1,0
4,62612,1,2,3,1
...,...,...,...,...,...
185,38950,2,1,3,1
186,170692,1,2,3,1
187,170692,2,2,2,1
188,170692,1,1,3,1
189,170692,2,1,2,1

## Resultados iPhone

In [20]:
predict_iphone = []
predict_oct_iphone = []

for e in range(len(df_iphone_filt)):
    
    bandera = False
    serie = df_iphone_filt.iloc[e]
    nhc = serie['NHC']
    lat = serie['lateralidad 1 Dch 2 izq']
    ret = serie['Retinlogo 1 y 2']
    
    for e in range(len(df_oct_filt)):
        
        serie_oct = df_oct_filt.iloc[e]
        nhc_oct = serie_oct['NHC']
        lat_oct = serie_oct['lateralidad 1 Dch 2 izq']
        ret_oct = serie_oct['Retinlogo 1 y 2']
        
        if (nhc==nhc_oct) and (lat==lat_oct) and (ret==ret_oct):
            predict_oct_iphone.append(serie_oct['EMD binario'])
            bandera = True
    
    if (bandera==True):
        predict_iphone.append(serie['EMD binario'])

In [21]:
print(predict_iphone)
print(len(predict_iphone))

[1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1]
198

In [22]:
print(predict_oct_iphone)
print(len(predict_oct_iphone))

[0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0]
198

In [23]:
print(len(predict_iphone)==len(predict_oct_iphone))

True

## Resultados Samsung

In [24]:
predict_samsung = []
predict_oct_samsung = []

for e in range(len(df_samsung_filt)):
    
    bandera = False
    serie = df_samsung_filt.iloc[e]
    nhc = serie['NHC']
    lat = serie['lateralidad 1 Dch 2 izq']
    ret = serie['Retinlogo 1 y 2']
    
    for e in range(len(df_oct_filt)):
        
        serie_oct = df_oct_filt.iloc[e]
        nhc_oct = serie_oct['NHC']
        lat_oct = serie_oct['lateralidad 1 Dch 2 izq']
        ret_oct = serie_oct['Retinlogo 1 y 2']
        
        if (nhc==nhc_oct) and (lat==lat_oct) and (ret==ret_oct):
            predict_oct_samsung.append(serie_oct['EMD binario'])
            bandera = True
    
    if (bandera==True):
        predict_samsung.append(serie['EMD binario'])

In [25]:
print(predict_samsung)
print(len(predict_samsung))

[0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
188

In [26]:
print(predict_oct_samsung)
print(len(predict_oct_samsung))

[0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0]
188

In [27]:
print(len(predict_samsung)==len(predict_oct_samsung))

True

# Resultados estadísticos

# iPhone

In [28]:
from sklearn import metrics

accuracy_ret_IPhone = metrics.accuracy_score(predict_oct_iphone, predict_iphone)

print(accuracy_ret_IPhone)

0.8282828282828283

In [29]:
from sklearn.metrics import f1_score

f1_ret_IPhone = f1_score(predict_oct_iphone, predict_iphone, average='weighted')

print(f1_ret_IPhone)

0.8303101856820865

In [30]:
from sklearn.metrics import roc_auc_score

auc_ret_IPhone = roc_auc_score(predict_oct_iphone, predict_iphone)

print(auc_ret_IPhone)

0.8293650793650794

In [34]:
from sklearn.metrics import precision_score

precision_ret_IPhone = precision_score(predict_oct_iphone, predict_iphone)

print(precision_ret_IPhone)

0.7317073170731707

In [36]:
from sklearn.metrics import recall_score

recall_ret_IPhone = recall_score(predict_oct_iphone, predict_iphone)

print(recall_ret_IPhone)

0.8333333333333334

In [40]:
from sklearn.metrics import precision_recall_fscore_support
import numpy as np

precision, recall, _, _ = precision_recall_fscore_support(predict_oct_iphone, predict_iphone, average=None)
gm_per_class = [np.sqrt(precision[i] * recall[i]) for i in range(len(precision))]
gm_total = np.prod(gm_per_class) ** (1/len(gm_per_class))

print(gm_total)

0.8195936294498375

# Samsung

In [31]:
accuracy_ret_Samsung = metrics.accuracy_score(predict_oct_samsung, predict_samsung)

print(accuracy_ret_Samsung)

0.7553191489361702

In [32]:
f1_ret_Samsung = f1_score(predict_oct_samsung, predict_samsung, average='weighted')

print(f1_ret_Samsung)

0.7608242563502058

In [33]:
auc_ret_Samsung = roc_auc_score(predict_oct_samsung, predict_samsung)

print(auc_ret_Samsung)

0.7836562344759066

In [37]:
from sklearn.metrics import precision_score

precision_ret_samsung = precision_score(predict_oct_samsung, predict_samsung)

print(precision_ret_samsung)

0.6041666666666666

In [38]:
from sklearn.metrics import recall_score

recall_ret_samsung = recall_score(predict_oct_samsung, predict_samsung)

print(recall_ret_samsung)

0.8787878787878788

In [41]:
from sklearn.metrics import precision_recall_fscore_support
import numpy as np

precision, recall, _, _ = precision_recall_fscore_support(predict_oct_samsung, predict_samsung, average=None)
gm_per_class = [np.sqrt(precision[i] * recall[i]) for i in range(len(precision))]
gm_total = np.prod(gm_per_class) ** (1/len(gm_per_class))

print(gm_total)

0.7600863497039604