In [1]:
import pandas as pd

In [3]:
df_metricas = pd.DataFrame(columns=['Cajas','Accuracy','F1-score','AUC'])

In [4]:
display(df_metricas)

Empty DataFrame
Columns: [Cajas, Accuracy, F1-score, AUC]
Index: []

In [5]:
df_metricas['Cajas'] = [1, 2, 3, 4, 5, 'TOTAL']

In [6]:
display(df_metricas)

   Cajas Accuracy F1-score  AUC
0      1      NaN      NaN  NaN
1      2      NaN      NaN  NaN
2      3      NaN      NaN  NaN
3      4      NaN      NaN  NaN
4      5      NaN      NaN  NaN
5  TOTAL      NaN      NaN  NaN

In [7]:
df_metricas.to_csv('metricas_cross_validation.csv', header=False, index=False)